.form{

    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #11114b;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

.form h1{

    align-self: center;
    color: #222;
}

.paragrafo{

    color: #d1d1d1;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{

    margin-top: 20px;
    height: 30px;
    width: 100px;
    align-self: center;
    border-radius: 10px;
    border: 1px solid #147593;
    color: #147593;
    background-color: white;
    cursor: pointer;
    transition: .5s;
}

.btn:hover{

    color: white;
    background-color: #147593;
}