.container{

    width: 250px;
    height: 170px;
    border-radius: 10px;
    border: 1px solid #147593;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.container > p{

    color: #222;
    font-size: 19px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.container > p > span{

    font-weight: lighter;
    color: #147593;
}

.title{

    font-size: 22px;
    margin-bottom: 10px;
    color: #147593;
    border-radius: 10px;
    padding: 5px 40px;
    background-color: #d3d3d3;
}

.buttons{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn{

    background-color: #147593;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: .5s;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #147593;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover{

    color: #147593;
    background-color: #fff;
}
