.container{

    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 85%;
    align-items: center;
}