.footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #147593;
    height: 120px;
}
.ul{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100px;
}

.item{

    font-size: 35px;
    color: white;
    transition: .5s;
}

.item:hover{

    color: #c1c1c1;
}

p{
    font-weight: 700;
    font-size: 22px;
    color: white;
}