.submitbutton{

    height: 30px;
    width: 100px;
    align-self: center;
    border-radius: 10px;
    border: 1px solid #147593;
    color: #147593;
    background-color: white;
    cursor: pointer;
    transition: .5s;
}

.submitbutton:hover{

    color: white;
    background-color: #147593;
}